.navbar {
    opacity: .6;
    border-bottom: 4px solid #009EE2;
}
header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url("../images/home.jpg");
    background-position: center;
    background-size: cover;
}
footer {
    background-color: #343A40;
}